

body{
    margin: 0;
    font font-family: arial.sans-serif;
}

nav {
    display:flex;
    justify-contant:space-between;
    align-items: center;
    background: #333333;
    padding: 1rem;
}

.logo{
    color: #fff;
    padding: 1em;
    text-decoration:none ;
    display: block;
}

.humburger{
    font-size: 2rem;
color: #fff;
cursor: pointer;

}

//tablet&desktop//
@media (min-width:768px){
    .menu{
        display:flex;
        flex-direction:row;
        position:static;
        background:none;
    }
}













