/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navb {
  width: 100%;
  background: black;
  color: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 22px;
  font-weight: bold;
}
.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}
.menu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.extra a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
header h1 {
  margin: 0;
}
header {
  margin: 0;
}
.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .menu {
    display: none;
    position: static;
  }
  .hamburger {
    display: flex;
    font-size: 20px;
    cursor: pointer;
  }
}


body{
    margin: 0;
     font-family: Arial,  sans-serif ;
}

nav {
    display: inline;flex: ;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 1rem;
}
.logo{
    color: #fff;
    font-size: large;
}

.menu{
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;

}

.menu a{
    color: #fff;
    padding: 1em;
    text-decoration: none;
    display: block;

}

.hamburger{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}


@media(min-width:768px)
{
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: ;
    }
} */
 

body{
    margin: 0;
    font-family: arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 1rem;
}

.logo{
    color: white;
    font-size: 1.5rem;
}

.menu{
    display: none;
    flex-direction: column;
    background:#4444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 280px;
}

.menu a{
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.hamburger{
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* tablet and desktop */ @media(min-width:768px){
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background:none;
        width: auto;
    }
    .hamburger{
        display: none;
    }
}