/* .container{
    flex-direction: column;
   display: flex; 
   height: 600px;
   width: 1000px;
   background-color: aqua;
    border: 1px solid blanchedalmond;

    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 10px;
    
}

.item{
    height: 100px;
width: 100px;
border: 1px solid black;
background-color: chocolate;
flex-grow: 1;
text-align: center;


}


.item2{
    order: -1;
    flex-grow: 2;
    align-self:flex-end ;
}





 */






 .container
 {
    display:grid;
    height: 500px;
    background-color: aquamarine;
/* grid-template-columns: 1fr,2fr,3fr,4fr; */
grid-template-columns: repeat(4,1FR);
grid-template-rows: repeat(3,1fr);
/* grid-template-areas:"header header header header"    "main main. sidebar"   "footer footer  footer  footer" ;
 } */
column gap 10px;

justify-items: center;
align-items: center;
align-items: stretch;
justify-content: space-around;



 .item{
    height: 100px;
    width: 100px;
    background-color: teal;
    border: 1px solid ;
    

 /* }


 .item 2 {
    gread-area : header ;

 }

 .item 3 {
    grid-area:sidebar;
 }
 */



